#new{
    background-color: #0f1111;
    height: 60px;
    color: white;
    font-size: 25px;
    border: 10px solid white;
    width: 2000px;
   
    

}
a{
    text-decoration: none;
    color: white;
}
#one{
    
    margin: 5%;
    color: yellowgreen;
}
#two{
    margin:200px
}
#three{
    margin: 200px;
}
#four{
    margin: 200px;
}
button{
    background-color: #f08804;
    border:none;

}
input{
    width: 125px;
}
body{
    background-color: lightblue;
}
#apple{
    height: 100px;
    width: 100px;
    border: 3px solid #0b0b0b;
    background-color: tomato;
    opacity: 0.5;
    display: inline-block;
}
p{
    text-align: center;
    color: green;
    margin-top: 20px;
    margin-bottom: 50px;
}