* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif;
}

body {
    background: #1f1f1f;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.phone {
    width: 380px;
    background: #d3d3a9;
    padding-bottom: 40px;
    border-radius: 20px;
}

.header {
    background: #ffde84;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-icon {
    width: 40px;
}

.menu-icon {
    width: 25px;
}

.burger-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.burger-img {
    width: 80%;
}

.card {
    background: #c7ff59;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customise {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.subtitle {
    margin-top: 10px;
    font-size: 15px;
}

.ingredients {
    
    font-size: 14px;
    margin-left:10px;
    line-height: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}

.btn-row {
    width: 90%;
    margin: 10px auto;
    background: #c7ff59;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time-bar {
    text-align: left;
    font-size: 12px;
    opacity: .7;
    margin-left: 10px;
}

.arrow {
    font-size: 20px;
}

.amount-box {
    width: 90%;
    margin: 10px auto;
    background: #c7ff59;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
}

.add-cart {
    width: 90%;
    margin: 15px auto;
    display: block;
    background: #ff4d4d;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
}
