/* #box{
    background-color: blue;
}
.heading{
    color: red;
}
#new{
    background-color: green;
}
h1,h2,h3{
    background-color: yellow;
    text-decoration:blue dotted underline;
    font-size: 30px;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
p{
    font-weight:900;  
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
body{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
h1{
    text-align: center;
    background-color: lightpink;
}
