body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", sans-serif;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 390px;
    background: #a7ada3;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}

.topbar {
    background: #f5e4ac;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e9bcbc;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}

.item img {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.pink { background:#e3aaaa; }
.lightpink { background:#d9b7b7; }

.yellow-box {
    background: yellow;
    padding: 12px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.recommend-title {
    background: #ffe5e5;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #a33;
    border-radius: 6px;
}

.rec-box {
    background: #e39090;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 90%;
    margin: 10px 5%;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.order-more { background: #ff6a6a; }
.checkout { background: #d95353; color: white; }
