/* #navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div{
    background-color: lightgrey;
}
a{
   text-decoration: none;
   color: black;
   background-color: lightgreen;
}
li{
    list-style-type: none;
}  */
#first{
    background-color: orange;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
    
#second{
    background-color: white;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    
    

    
}
body{
    background-color: lightblue;
}
#third{
    background-color: green;
    height: 40px;
    width: 100px;
    display: flex;
    align-self: flex-end;
    flex
    
    
}