p{
    background-color: lightblue;
    font-size: 20px;
    color: darkblue;
    text-align: center;
}
#hello{
    background-color: yellow;
    border: black 2px solid;

}
.omg{
    background-color: pink;
}