.container{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid grey;
    border-top: 10px solid black;
    /* border-left: 10px solid black; */
    animation: color;
    animation-duration: 0.45s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
      
}

@keyframes color{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
