div{
    height: 50px;
    width: 50px;
    background-color: blue;
}
@media (width <= 300px){
    div{
        background-color: green;
    }
}
@media (width>300px) and (width < 400px){
    div{
        background-color: pink;
    }
}
@media (width>400px) and (width < 600px){
    div{
        background-color: red;
    }
}
@media (width>600px){
    div{
        background-color: blue;
    }
}