body{
    background-color: brown;
    
}
.new{
    background-color: orange;
    width: 100px;
    height: 25px;
}
.apple{
    background-color: white;
    width: 100px;
    height: 25px;
}
.mango{
    background-color: green;
    width: 100px;
    height: 25px;
}
.leaf{
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    
}
.banana{
    background-color: white;
    width: 0.5px;
    height: 24px;
    
    display: flex;
    margin: auto;
}  
/* .banana1{
    background-color: white;
    width: 25px;
    height: 0.5px;
    transform: rotate(90deg);
    
    
    
   
}  */